body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.iCbvoa {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    padding: 0px;
}

.dCXXrg {
    display: block;
    flex-direction: row;
    height: 164px;
    min-width: 260px;
    background: url(https://styles.redditmedia.com/t5_2qh1o/styles/bannerBackgroundImage_wmbf6g1dei301.png) center top / cover no-repeat rgb(153, 153, 153);
    background-position: center top;
    margin: 0px auto;
}

.jDJmGa {
    text-decoration: none;
}

.xEEFg {
    height: 100%;
    position: relative;
    transform: translateY(-18px);
    margin: auto;
}

.hLkSVI {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 40;
}

.bnHVsB {
    width: 512px;
    height: 112px;
    background-size: auto;
    top: 50%;
    position: absolute;
    background-image: url(https://styles.redditmedia.com/t5_2qh1o/styles/bannerPositionedImage_my2oks8o5x821.png);
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
}

.Reddit {
    height: auto;
    margin: 10px auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    background-color: lightblue;
    border: 20px solid black;
    border-radius: 10px;
}

.heads {
    color: black;
    text-shadow: 2px 2px 2px ghostwhite;
}

.pics {
    display: block;
    max-width: 100%;
    position:relative;
}