
<div class="s7pq5uy-2 iCbvoa">
    <a class="ssdjlj-8 dCXXrg ssdjlj-7 jDJmGa" href="/r/aww">
        <div class="ssdjlj-4 xEEFg" style="max-width:1200px">
            <div class="ssdjlj-3 hLkSVI"></div>
            <div class="ssdjlj-2 bnHVsB"></div>
        </div>
    </a>

<div id="TEST" style="padding-top:20px; padding: 20px; text-align:center;">
    @for (int i = 0; i < 10; i++)
    {
        <div class="Reddit">

            <h4 class="heads">@ViewBag.Titled[i]</h4>
            <picture class="pics">
                <img src="@ViewBag.Thumbs[i]" />
                <br />
            </picture>
            <a href="@ViewBag.URL[i]">@ViewBag.URL[i]</a>
            <br />

        </div>
    }
</div>